@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";

}
<html lang="en">
<head>
    <title>Giới thiệu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container text-black" style="margin-top:-100px;">
        <h5 class="h5 font-weight-bold">GIỚI THIỆU CÔNG TY</h5>
        <p>Thứ sáu, 16/10/2020 - 03:20 PM</p>
        <p><a class="font-weight-bold">Nhathuocminhchau.com </a>là kênh bán hàng rộng rãi cung cấp tất cả các sản phẩm Thực phẩm chức năng, Mỹ phẩm, Dược mỹ phẩm nhập khẩu chính hãng từ các nước Mỹ, Úc, Hàn Quốc, Nhật Bản, Pháp, Nga. Luôn cung cấp những sản phẩm chính hãng, nói không với hàng trôi nổi và không có giấy chứng nhận sản phẩm. Chợ Sĩ Thuốc tiên phong bán hàng rẻ nhất, chất lượng nhất đến tay người tiêu dùng.</p>
        <h4 class="font-weight-bold">Tiêu chí của nhathuocminhchau.com </h4>
        <p><a class="font-italic">"Bán lẻ như giá sỉ"</a>, khách hàng có thể mua hàng với số lượng ít hoặc chỉ 1 sản phẩm cũng có thể mua được giá sỉ, tiêu chí bán hàng của nhathuocminhchau.com ngoài bán hàng chất lượng mà còn bán trong giá khả năng mà tất cả khách hàng đều có thể mua được.</p>
        <h4 class="font-weight-bold">Bán hàng đa kênh thân thiện</h4>
        <p>nhathuocminhchau.com bán hàng đa kênh với hệ thống Online cho khách lẻ và khách sỉ, hệ thống của hàng trên toàn quốc:</p>
        <a class="font-weight-bold">Chi nhánh hệ thống nhathuocminhchau.com:</a>
        <p>+ Hà Nội:<br />+ Đà Nẵng<br />+ TPHCM: 161 Bạch Đằng, F2, Tân Bình, TPHCM<br />+ Cần Thơ: </p>
        <a class="font-weight-bold">Hệ thống bán hàng xác thực:</a>
        <p>+ Các sản phẩm khách hàng mua tại nhathuocminhchau.com luôn được xác thực sản phẩm là chính hãng, sản phẩm đúng mẫu mã, đúng thương hiệu, khi nhận hàng tại cửa hàng hoặc được giao đến, nếu khách hàng phát hiện là hàng giả nhathuocminhchau.com hoàn tiền 100%</p>
        <p>+ Hệ thống xác thực sản phẩm bằng tin nhắn, trên mỗi sản phẩm của nhathuocminhchau.com khách hàng đều có tem cào xác nhận hàng chính hãng trên mỗi sản phẩm, quý khách hàng cào nhẹ và gửi cú pháp tin nhắn đến tổng đài nhathuocminhchau.com để xác nhận.</p>
        <p>+ Hệ thống tem, nhãn mác nhathuocminhchau.com xác thực sản phẩm chưa được khui hay tháo trước khi đến tay khách hàng, quý khách hàng xem kĩ sản phẩm trước khi nhận hàng</p>
        <a class="font-weight-bold">Hệ thống chăm sóc khách hàng toàn diện:</a>
        <p>
            + Hệ thống chăm sóc khách hàng trên cả nước, yêu cầu giải đáp thắc mắc về sản phẩm, về thông tin khách hàng cần sẽ được nhân viên tận tình chăm sóc, chỉ dẫn dù khách hàng không mua hàng
            <br />+ Chăm sóc các khách hàng cũ mua hàng tại hệ thống nhathuocminhchau.com sẽ hỏi thăm tình trạng của khách hàng sau khi sử dụng sản phẩm, liệu trình sử dụng, tác dụng của sản phẩm để đưa ra cách chăm sóc riêng biệt cho mỗi khách hàng
            <br />+ Chăm sóc khách hàng thường xuyên mua hàng tại nhathuocminhchau.com sẽ được khuyến mãi khi mua hàng, giảm giá các mặt hàng sản phẩm, ưu đãi chiết khấu khi mua combo sản phẩm...
        </p>
        <h4 class="font-weight-bold">Đa dạng các sản phẩm trong nước và ngoài nước</h4>
        <p>
            - Nhu cầu của khách hàng ngày càng cao, về các sản phẩm chất lượng nhập khẩu từ Mỹ, Úc, Pháp, Nhật Bản ngày càng cao, kéo theo đó là rất nhiều sản phẩm nhái, sản phẩm giả trôi nổi trên thị trường. nhathuocminhchau.com cam kết không bán sản phẩm giả, sản phẩm nhái, ảnh hưởng đến thương hiệu nhathuocminhchau.com, việc lớn hơn là ảnh hưởng đến sức khỏe người tiêu dùng.
            <br />- nhathuocminhchau.com bán đa dạng các sản phẩm nhập khẩu chính hãng, sản phẩm nhu cầu người dùng. Đại đa số người tiêu dùng thích mua hàng tại nhathuocminhchau.com là mua sản phẩm ngoại với giá tốt nhất vừa với túi tiền người tiêu dùng, không bán quá mắc cho khách hàng. Đó là điều vinh hạnh của chúng tôi, chúng tôi càng ngày càng mở rộng đa dạng các mặt hàng sản phẩm nhập khẩu và trong nước chất lượng để cung cấp cho thị hiếu của người tiêu dùng ngày càng đòi hỏi cao về chất lượng mà giá luôn rẻ.
        </p>
        <h4 class="font-weight-bold">Hợp tác kinh doanh rộng mở</h4>
        <p>
            - Chợ sĩ thuốc rất vinh hạnh được hợp tác với tất cả quý khách hàng có nhu cầu hợp tác phân phối sản phẩm, giới thiệu sản phẩm qua kênh bán hàng nhathuocminhchau.com
            <br />
            + Hợp tác kinh doanh các sản phẩm Thực phẩm chức năng
            <br />
            + Hợp tác kinh doanh Mỹ phẩm, Dược Mỹ Phẩm
            <br />
            - nhathuocminhchau.com kênh bán hàng thân thiện sẽ hỗ trợ phân phối, ra hàng cho các sản phẩm của quý khách hàng đến tay người tiêu dùng một cách nhanh chóng thông qua hệ thống bán hàng đa kênh của chúng tôi.
        </p>
        <h4 class="font-weight-bold">Liên hệ với chúng tôi</h4>
        <p><a class="font-weight-bold">Kênh bán hàng:</a>&nbsp;nhathuocminhchau.com</p>
        <p><a class="font-weight-bold">Địa chỉ:</a>&nbsp;161 Bạch Đằng, F2, Tân Bình, TP.HCM</p>
        <p><a class="font-weight-bold">Email:</a>&nbsp;lienhe@nhathuocminhchau.com</p>
        <p><a class="font-weight-bold">Hotline:</a>&nbsp;0899391368 - 0901346379</p>
        <p>Cảm ơn quý khách hàng đã tin tưởng và mua hàng tại nhathuocminhchau.com, chúng tôi mong sẽ được phục vụ quý khách hàng dài lâu.</p>
    </div>
</body>
</html>