<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nhà Thuốc Minh Châu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .fixed-header {
            position: sticky;
            top: 0;
            background-color: #f8f9fa; /* Màu nền của thead */
            z-index: 2000; /* Z-index để đảm bảo hiển thị phía trên các phần tử khác */
        }
    </style>
</head>
<body>
    <div class="site-wrap" style="margin-top: -50px; font-weight: bolder;">
        <div class="site-navbar py-2 fixed-header">
            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>

                    <input id="productSearch" type="text" onkeyup="onSearch()" class="form-control" name="search" placeholder="Nhập tên sản phẩm cần tìm ">

                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="/Home/Index" class="js-logo-clone">Minh Châu</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active"><a href="/Home/Index">Trang chủ</a></li>
                                <li><a href="/KhachHang/SanPham">Sản phẩm</a></li>
                                <li class="has-children">
                                    <a href="#">Danh mục</a>
                                    <ul class="dropdown" style="width:220px;">
                                        @Html.Action("MenuLoaiSP", "KhachHang")
                                    </ul>
                                </li>
                                <li><a href="/Home/About">Giới Thiệu</a></li>
                                <li>
                                    @if (Session["kh"] != null)
                                    {
                                        <a href="/TaiKhoan/Logout" class="nav-link">Đăng xuất</a>
                                    }
                                    else
                                    {
                                        <a href="/TaiKhoan/Login" class="nav-link">Đăng nhập</a>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="/KhachHang/Cart" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">
                                @Html.Action("TongSP", "KhachHang")
                            </span>
                        </a>
                        <a href="/KhachHang/HoSo" class="icons-btn d-inline-block bag">
                            <span class="icon-person_outline"></span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-blocks-cover" style="background-image: url('/images/hero_1.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                        <div class="site-block-cover-content text-center">
                            @*<h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>*@
                            <h1>Chào Mừng Đến Nhà Thuốc Minh Châu</h1>
                            <p>
                                <a href="/KhachHang/SanPham" class="btn btn-primary px-5 py-3">Mua sắm ngay</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row align-items-stretch section-overlap">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="banner-wrap bg-primary h-100">
                            <a href="/KhachHang/SanPham" class="h-100">
                                <h5>Miễn Phí <br> Giao Hàng</h5>
                                <p>
                                    100% Miễn Phí
                                    <strong>Phí Giao Hàng Trên Toàn Quốc</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="banner-wrap h-100">
                            <a href="/KhachHang/SanPham" class="h-100">
                                <h5>Thuốc <br> Chính Hãng</h5>
                                <p>
                                    100% Chính Hãng
                                    <strong>Tất Cả Các Loại Thuốc, Thực Phẩm ChỨc Năng</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="banner-wrap bg-warning h-100">
                            <a href="/KhachHang/SanPham" class="h-100">
                                <h5>Giá <br>Tốt</h5>
                                <p>
                                    Giá Siêu Tốt
                                    <strong>Đảm Bảo Các Sản Phẩm Sẽ Luôn Có Giá Tốt Nhất</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-secondary bg-image" style="background-image: url('/images/bg_2.jpg');">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <a href="/KhachHang/SanPham" class="banner-1 h-100 d-flex" style="background-image: url('/images/bg_1.jpg');">
                            <div class="banner-1-inner align-self-center">
                                <h2>Sản Phẩm Của Nhà Thuốc Minh Châu</h2>
                                <p>
                                    Nhà Thuốc Minh Châu Luôn Cung Cấp Đến Khách Hàng Những Sản Phẩm Chính Hãng, Chất Lượng Cao Với Giá Thành Tốt Nhất.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <a href="/KhachHang/SanPham" class="banner-1 h-100 d-flex" style="background-image: url('/images/bg_2.jpg');">
                            <div class="banner-1-inner ml-auto  align-self-center">
                                <h2>Đa Dạng Sản Phẩm</h2>
                                <p>
                                    Nhà Thuốc Minh Châu chuyên cung cấp các sản phẩm trong nước và các sản phẩm nhập khẩu từ các quốc gia khác nhau như: Mỹ, Pháp, Nhật Bản, Ấn Độ,...
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="block-7">
                            <h3 class="footer-heading mb-4">Giới Thiệu</h3>
                            <p>
                                Nhà Thuốc Minh Châu luôn cung cấp những sản phẩm chính hãng, nói không với hàng trôi nổi và không có giấy chứng nhận sản phẩm.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Loại Sản Phẩm</h3>
                        <ul class="list-unstyled">
                            @Html.Action("MenuLoaiSP", "KhachHang")
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Thông Tin Liên Hệ</h3>
                            <ul class="list-unstyled">
                                <li class="address"> 285 Bạch Đằng, P. 3, Gò Vấp, TP Hồ Chí Minh</li>
                                <li class="phone"><a href="tel://84918006928">+84 918 00 6928</a></li>
                                <li class="email">htnhathuocminhchau@gmail.com</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            Công ty TNHH Thương Mại Y Tế Xanh _ GPKD số 0316326671 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày 16/06/2020 _ GĐ
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    <script>

        function onSearch() {
            console.log($('#productSearch').val().trim());
            if (event.key == 'Enter') {
                if ($('#productSearch').val().trim() == '')
                    return;
                window.location = "/KhachHang/XLTimKiem?tensp=" + $('#productSearch').val().trim();
            }

        }
    </script>
</body>
</html>