@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
<div class="container text-center text-success">
    <h1>Đặt hàng thành công!</h1>
    <h4>Cảm ơn bạn đã đặt hàng.</h4>
    <h5><a href="/KhachHang/SanPham" class="text-info">Tiếp tục mua sắm</a></h5>
</div>
