@{
    ViewBag.Title = "VnpayReturn";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Main Content -->
            <div class="row">

                <div class="container text-center text-success">
                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <h1>Đặt hàng thành công!</h1>
                        <h4>Bạn đã thanh toán thành công với @ViewBag.ThanhToanThanhCong </h4>
                        <h4>Cảm ơn bạn đã đặt hàng.</h4>
                        <h5><a href="/KhachHang/SanPham" class="text-info">Tiếp tục mua sắm</a></h5>
                    }
                    else
                    {
                        <h1>Thanh toán thất bại</h1>
                        <p>@ViewBag.InnerText</p>
                    }
                </div>

            </div>
            <hr />
            @*<div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-9">

                    </div>

                </div>*@
        </div>
    </div>
</div>

